body {
    background-image: url("bright-squares.png");
    background-color: #D5D8DC;
    width:1000px;
     margin: auto;

}

.header{
    padding: 3em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
    border-width: 5px; 
	border-color: #5B5B5B; 
	border-style: solid;
}

p{
	font-family: verdana;
	font-size:118%;
}	

nav {
	float: right;
	margin-top: 11px;
}
nav li {
	display: inline-block;
	margin: 0 1em;
}

.border { 
	border-width: 2px; 
	border-color: gray; 
	border-style: solid; 
}

.education {
	float:right;
	list-style-type: none;
	margin-top: 120px;
	margin-right: 150px;
	font-family:verdana;
	
}

.skills li{	
	display: inline-block;
	padding: 1em;
	font-family:verdana;
	font-size:115%;
}

.footer {
    padding: .05em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
    border-width: 5px; 
	border-color: #5B5B5B; 
	border-style: solid;
}